<header class="nav-holder make-sticky">
	<div id="navbar" role="navigation" class="navbar navbar-expand-lg">
		<div class="container">
			<a href="index.html" class="navbar-brand home">
				<img src="{{ asset('images/logo.png') }} " alt="Yamobil logo" class="d-none d-md-inline-block">
				<img src="{{ asset('images/logo-small.png') }}" alt="Yamobil logo" class="d-inline-block d-md-none"><span class="sr-only">Yamobil - Accueil</span>
			</a>
			<button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined">
				<span class="sr-only">Navigation</span>
				<i class="fa fa-align-justify"></i>
			</button>
			<div id="navigation" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="nav-item dropdown active">
						<a href="javascript: void(0)">Catalogue<b class="caret"></b>
						</a>
					</li>
				</ul>
			</ul>
		</div>
		<div class="navbar-buttons">
			<button type="button" class="btn btn-primary navbar-toggle" data-toggle="collapse" data-target="#search">
				<span class="sr-only">Rechercher</span>
				<i class="fa fa-search"></i>
			</button>
			<a class="btn btn-primary navbar-toggle " href="">
				<i class="fa fa-shopping-cart"></i>
				<span class="hidden-xs">
					{{ app.session.get('panier').NbAchats | default(0) }}
				</span>
			</a>
		</div>
	</div>
</header>
